.doctor-card {
  background: var(--white);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: 0.3s ease;
  text-align: center;

  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  height: 100%;
}

.doctor-card:hover {
  transform: translateY(-8px);
}

.doctor-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.doctor-card h3 {
  margin-top: 15px;
  font-size: 22px;
  color: var(--primary);
}

.qualification {
  margin-top: 5px;
  color: var(--text-light);
  font-weight: 500;
}

.Doctor_contact {
  margin-top: 5px;
  padding: 20px 0;
  font-weight: 600;
  color: var(--text);
}

/* ================================
   CALL NOW BUTTON
================================ */

.call-doctor-btn {
  display: block;

  width: calc(100% - 40px);

  margin: 10px 20px 20px;

  padding: 12px 15px;

  background: var(--primary);

  color: #ffffff;

  text-align: center;

  text-decoration: none;

  border-radius: 9px;

  font-size: 15px;

  font-weight: 600;

  transition: all 0.3s ease;
}

.call-doctor-btn:hover {
  background: #09583f;

  transform: translateY(-2px);

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}