.cart-summary {
  background: #ffffff;
  border-radius: 16px;
  padding: 28px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 100px;
  height: fit-content;
}

.cart-summary h2 {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 25px;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0;
  font-size: 17px;
}

.summary-total {
  font-size: 21px;
  font-weight: 700;
}

.free {
  color: #2e7d32;
  font-weight: 700;
}

.checkout-btn {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  background: var(--primary);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.checkout-btn:hover {
  background: #09563d;
}

.continue-shopping {
  display: block;
  text-align: center;
  margin-top: 16px;
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
}

.continue-shopping:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .cart-summary {
    position: static;
  }
}

.clear-cart-btn{
    width:100%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:#d32f2f;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.clear-cart-btn:hover{
    background:#b71c1c;
}